body {
  background: url(bgrnd.jpg);
  background-attachment: fixed;
  text-align: center;
  color: lightgreen;

}
a:visited{
  color:white;
}

h1 {
  font: 45px arial, san-serif;
}

h2 {
  font: 25px arial, san-serif;
}

p {
  font: 22px arial, san-serif;
}

img {
  width: 500px;
}

li {
  font: 15px arial, san-serif;
}

ul {
  list-style-type: none;
}
